.cg-landing {
/* src/components/ui/Button.css */

.btn {
  display: flex;
  height: 40px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 17px;
  border: 1px solid var(--color-border);
  backdrop-filter: blur(8px);
  cursor: pointer;
  line-height: normal;
}

.btn-black {
  background: var(--color-black);
  color: var(--color-white);
  transition: background 0.2s;
}

.btn-black:hover {
  background: rgb(0, 0, 0, 0.7);
  border: 1px solid var(--color-border);
}

.btn-white {
  background: var(--color-white);
  color: var(--color-black);
  transition: background 0.2s, box-shadow 0.2s;
}

.btn-white:hover {
  background: rgba(253, 253, 253, 1);
  border-color: rgba(255, 255, 255, 1);
}

.btn-white:hover .btn-label {
  background: rgb(0, 0, 0, 0.7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.btn-shadow {
  box-shadow: var(--shadow-btn);
}
}
