@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/700.css';
@import '@fontsource/inter/800.css';
@import '@fontsource/roboto-serif/300.css';
@import '@fontsource/roboto-serif/400.css';
@import '@fontsource/roboto-serif/500.css';
@import '@fontsource/roboto-serif/600.css';
@import '@fontsource/roboto-serif/700.css';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #FAFAFB;
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 100%;
}