.lang-switcher {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.10);
  border-radius: 5px;
  padding: 0;
  cursor: pointer;
  gap: 0;
}

.lang-switcher__option {
  font-family: Inter, Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: rgba(255, 255, 255);
  padding: 5px 5px;
  border-radius: 10px;
  transition: all 0.15s ease;
  user-select: none;
  min-width: 24px;
  text-align: center;
}

.lang-switcher__option--active {
  background: #ffffff;
  color: #111111;
  border: 1px solid rgba(17, 17, 17, 0.07);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}